[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "==2.30.*"
matplotlib = "*"
streamlit-agraph = "*"
snowflake-connector-python = "*"
google-api-python-client = "*"
gsheetsdb = "*"
pyarrow = "*"
s3fs = "*"
websockets = ">=9.1"
cffi = "==1.14.6"

[dev-packages]
black = "*"  # Pretty formatting of Python code
pynvim = "*" # Allows nvim users to use black formatting

[pipenv]
allow_prereleases = true
